@model TeacherLoadApp.Models.TeacherPersonalLoadVM

@{
    ViewData["Title"] = "Индивидуальная нагрузка";
}

<h2>Индивидуальная нагрузка</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Добавить индивидуальную нагрузку</a>
    <div class="form-inline" style="margin: 20px auto;">
        <label class="control-label">Вид занятий:</label>
        @Html.DropDownList("IndividualClassID", Model.PersonalStudies,"Все", new { @class = "form-control selected-class" })
    </div>
</p>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.PersonalLoads[0].Teacher.FullName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoads[0].IndividualStudies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoads[0].StudentsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalLoads[0].TotalVolume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table-body">
        @{ await Html.RenderPartialAsync("_PersonalLoad", Model.GroupedLoads);}
    </tbody>
</table>

    @section scripts{
        <script type="text/javascript">
    $(document).ready(function () {
        $(".selected-class").change(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("TeacherLoadByClassType")',
                data: { classID: $(".selected-class").val() },
                success: function (data) {
                    $("#table-body").html(data);
                }
            });
        });
    });
        </script>
    }
