@model IEnumerable<TeacherLoadApp.Models.GroupingVM<TeacherLoad.Core.Models.GroupLoad>>


@foreach (var group in Model)
{
    <tr>
        <th colspan="6" style="background-color: #ADD8E6;
    border-color: #dee2e6;">@group.Key</th>
</tr>
foreach (var load in group.Values)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => load.GroupStudies.GroupClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => load.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => load.StudyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => load.StudyYear)
        </td>
        <td style="text-align: center;">
            @Html.DisplayFor(modelItem => load.VolumeHours)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@load.GroupLoadID">
                <span><i class="glyphicon glyphicon-pencil"></i></span>
            </a>
            <a style="margin-left: 5px;" asp-action="Delete" asp-route-id="@load.GroupLoadID">
                <span><i class="glyphicon glyphicon-trash"></i></span>
            </a>
        </td>
    </tr>
}
}

