@model IEnumerable<TeacherLoad.Core.Models.GroupLoad>

@{
    ViewData["Title"] = "Групповая нагрузка";
}


<h2>Групповая нагрузка кафедры</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Добавить нагрузку</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolumeHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupStudies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyType)
            </th>
            <th></th>           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VolumeHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discipline.DisciplineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.GroupNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupStudies.GroupClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyType)
                </td>
                <td>
                    @{ await Html.RenderPartialAsync("ButtonPartial", Html.ViewData["id"] = item.GroupLoadID);}
                </td>
            </tr>
        }
    </tbody>
</table>
