@model IEnumerable<TeacherLoad.Core.Models.GroupLoad>

@{
    ViewData["Title"] = "Групповая нагрузка";
}


<h2>Групповая нагрузка кафедры</h2>
<p>
    <a class="btn btn-primary" asp-action="Create">Добавить нагрузку</a>
</p>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolumeHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discipline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupStudies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyType)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VolumeHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discipline.DisciplineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.GroupNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupStudies.GroupClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyType)
                </td>
                <td>                   
                    <a style="margin-right:10px;" class="btn-sm btn-success" href="@Url.Action("Edit", "GroupLoads",item)">
                        <span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>
                        Редактировать
                    </a>                                      
                </td>
                <td>
                    <a style="margin-right:10px;" class="btn-sm btn-danger" href="@Url.Action("Delete", "GroupLoads",item)">
                        <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
                        Удалить
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
