@model TeacherLoadApp.Models.TeacherGroupLoadVM

<div id="content-holder">    
    <div class="row">        
            <div class="list-group teachers-listbox">
                @foreach (var item in Model.Teachers)
                {
                    <button type="button" onclick="return selectTeacher(@item.Value)"
                            class="list-group-item list-group-item-action
                            @(item.Selected ? "active" : "")">
                        @item.Text
                    </button>                   
                }            
        </div>
        <div class="table-holder">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupedLoads[0].Values[0].GroupStudies)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupedLoads[0].Values[0].Semester)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupedLoads[0].Values[0].StudyType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupedLoads[0].Values[0].StudyYear)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupedLoads[0].Values[0].VolumeHours)
                        </th>
                        <th></th>
                    </tr>
                    <tr style="background-color: white;">
                        <th>
                            @Html.DropDownList("GroupStudies", Model.GroupStudies, "Вид занятий", new { @class = "form-control selected-groupClass", @onchange = "doFilter()" })
                        </th>
                        <th>
                            @Html.DropDownList("Semesters", Model.Semesters, "Семестр", new { @class = "form-control selected-semester", @onchange = "doFilter()" })
                        </th>
                        <th>
                            @Html.DropDownList("StudyTypes", Model.StudyTypes, "Вид обучения", new { @class = "form-control selected-studyType", @onchange = "doFilter()" })
                        </th>
                        <th>
                            @Html.DropDownList("StudyYears", Model.StudyYears, "Курс", new { @class = "form-control selected-year", @onchange = "doFilter()" })
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    @{ await Html.RenderPartialAsync("TeacherLoadsPartial", Model.GroupedLoads);}
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function selectTeacher(id) {
            //$(".list-group-item-action.active").removeClass("active");
            //$(btn).addClass("active");

            $.ajax({
                type: 'GET',
                url: '@Url.Action("TeachersGroupLoad")',
                data: {
                    teacherID: id,
                    groupClassID: $(".selected-groupClass").val(),
                    semester:  $(".selected-semester").val(),
                    studyType: $(".selected-studyType").val(),
                    studyYear: $(".selected-year").val()
                },
                success: function (data) {
                    $('#content-holder').html(data);
                }
            });
        };

        function doFilter(teacher) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetGroupLoads")',
                    data: {
                        teacherID: teacher == null ? @Model.Teachers.SelectedValue : teacher,
                        groupClassID: $(".selected-groupClass").val(),
                        semester: $(".selected-semester").val(),
                        studyType: $(".selected-studyType").val(),
                        studyYear: $(".selected-year").val()
                    },
                    success: function (data) {
                        $('#table-body').html(data);
                    }
                });
        };

    </script>
}

