@model TeacherLoadApp.Models.GroupsIndexVM

@{
    ViewData["Title"] = "Учебные группы";
}

<div id="content">
    <h2>Учебные группы</h2>

    <div class="form-inline" style="margin: 20px auto;">
        <a class="btn btn-primary" asp-action="Create">Создать группу</a>
        <label class="control-label">Курс</label>
        @Html.DropDownList("Year", Model.Years, new { @class = "form-control selected-year" })
    </div>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Instance.GroupNumber)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Instance.Speciality)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Instance.StudentsCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var groupedGroup in Model.GroupedStudyGroups)
            {
                <tr>
                    <th colspan="6" style="background-color: #ADD8E6;
                            border-color: #dee2e6;">@groupedGroup.Key</th>
                        </tr>
                        foreach (var group in groupedGroup.Values)
                        {
                <tr>
                    <td>
                        <a asp-controller="Groups" asp-action="GroupDisciplinesPost" asp-route-id="@group.GroupNumber">
                        @Html.DisplayFor(modelItem => group.GroupNumber)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => group.StudentsCount)
                    </td>
                    <td>
                        @{ await Html.RenderPartialAsync("ButtonPartial", Html.ViewData["id"] = group.GroupNumber);}
                    </td>
                </tr>
                    }
                }
        </tbody>
        </table>
</div>

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $(".selected-year").change(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Index")',
                data: { year: $(".selected-year").val() },
                success: function (data) {
                    $('#content').html(data);
                }
            });
        });
    });
    </script>
}

