@model TeacherLoadApp.Models.GroupsIndexVM

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudyGroup.GroupNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyGroup.StudentsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groupedGroup in Model.GroupedStudyGroups)
        {
            <tr>
                <th colspan="6" style="background-color: #ADD8E6;
                            border-color: #dee2e6;">@groupedGroup.Key</th>
                        </tr>
                        foreach (var group in groupedGroup.Values)
                        {
                            <tr>
                                <td>
                                    @*<a asp-controller="Groups" asp-action="GroupDisciplines" asp-route-id="@group.GroupNumber">

                                    </a>*@
                                    @Html.DisplayFor(modelItem => group.GroupNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => group.StudentsCount)
                                </td>
                                <td>
                                    @{ await Html.RenderPartialAsync("ButtonPartial", Html.ViewData["id"] = group.GroupNumber);}
                                </td>
                            </tr>
                        }
                    }
    </tbody>
</table>