@model IEnumerable<TeacherLoad.Core.Models.Group>

@{
    ViewData["Title"] = "Учебные группы";
}

<h2>Учебные группы</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Создать группу</a>
</p>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Groups" asp-action="GroupDisciplinesPost" asp-route-id="@item.GroupNumber">@Html.DisplayFor(modelItem => item.GroupNumber)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speciality.SpecialityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentsCount)
                </td>
                <td>
                    <a class="btn-sm btn-success" asp-action="Edit" asp-route-id="@item.GroupNumber">
                    <span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>
                    Редактировать</a>
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.GroupNumber">
                    <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>
                    Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
