@model IEnumerable<TeacherLoad.Core.Models.Group>

@{
    ViewData["Title"] = "Учебные группы";
}

<h2>Учебные группы</h2>

<p>
    <a asp-action="Create">Создать группу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speciality.SpecialityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupNumber">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.GroupNumber">О группе</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupNumber">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
