@using Microsoft.AspNetCore.Identity
@inject SignInManager<TeacherLoad.Core.Models.ApplicationUser> SignInManager
@inject UserManager<TeacherLoad.Core.Models.ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </environment>
</head>
<body>
    @if (SignInManager.IsSignedIn(User))
    {        
            <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #265C94; font-family: 'Coda', cursive;">
                <div class="container">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav menu-nav" role="menu">
                            <li class="nav-item">
                                @Html.ActionLink("Домой", "Index", "Home")
                            </li>
                            <li class="nav-item dropdown">
                                <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Справочники<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Виды групповых занятий", "Index", "GroupStudies")</li>
                                    <li>@Html.ActionLink("Виды индивидуальных занятий", "Index", "IndividualStudies")</li>
                                    <li>@Html.ActionLink("Специальности", "Index", "Specialities")</li>
                                    <li>@Html.ActionLink("Дисциплины", "Index", "Disciplines")</li>
                                    <li>@Html.ActionLink("Должности", "Index", "Positions")</li>
                                    @if (User.IsInRole("Администратор") || User.IsInRole("Оператор"))
                                    {
                                        <li>@Html.ActionLink("Пользователи", "UsersList", "Users")</li>
                                    }
                                        <li><hr /></li>
                                        <li>@Html.ActionLink("Преподаватели", "Index", "Teachers")</li>
                                        <li>@Html.ActionLink("Учебные группы", "Index", "Groups")</li>
                                        <li><hr /></li>
                                        <li>@Html.ActionLink("Групповая нагрузка", "Index", "GroupLoads")</li>
                                        <li>@Html.ActionLink("Индивидуальная нагрузка", "Index", "PersonalLoads")</li>
                                    </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="navbar-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Запросы<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Все дисциплины для указанной группы", "GroupDisciplines", "Groups")</li>
                                    <li>@Html.ActionLink("Преподаватели с выбранным видом занятий", "Index", "PersonalLoads")</li>
                                    <li>@Html.ActionLink("Групповая нагрузка преподавателя", "TeachersGroupLoad", "GroupLoads")</li>
                                </ul>
                            </li>                                    
                                    <li class="nav-item">
                                        @Html.ActionLink("Отчеты", "Index", "Home")
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="Identity" title="Manage">@UserManager.GetUserName(User)</a>
                                    </li>
                                    <li class="nav-item">
                                        <form method="post" asp-controller="Users" asp-action="Logoff">
                                            <button class="btn-logoff" type="submit">Выйти</button>
                                        </form>
                                    </li>
                                </ul>
</div>
                </div>
                </nav>
            }
            <partial name="_CookieConsentPartial" />

            <div class="container body-content">
                <div id="notification" data-url="@Url.Action("Notifications", "Disciplines")"></div>
                @RenderBody()
            </div>

            <environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>             
            </environment>
            <environment exclude="Development">
                <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"
                        crossorigin="anonymous"
                        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                        crossorigin="anonymous"
                        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
                </script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>

            @RenderSection("Scripts", required: false)
    </body>
</html>
